<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="contact">
      <h2 data-cy="contactDetailsHeading"><span jhiTranslate="yocomaApp.contact.detail.title">Contact</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contact.id }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.firstname">Firstname</span></dt>
        <dd>
          <span>{{ contact.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.lastname">Lastname</span></dt>
        <dd>
          <span>{{ contact.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.email">Email</span></dt>
        <dd>
          <span>{{ contact.email }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.phone">Phone</span></dt>
        <dd>
          <span>{{ contact.phone }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.remark">Remark</span></dt>
        <dd>
          <span>{{ contact.remark }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.contact.image">Image</span></dt>
        <dd>
          <div *ngIf="contact.image">
            <a (click)="openFile(contact.image, contact.imageContentType)">
              <img [src]="'data:' + contact.imageContentType + ';base64,' + contact.image" style="max-width: 150px" alt="contact image" />
            </a>
          </div>
        </dd>
      </dl>


      <div class="alert alert-warning" id="no-result" *ngIf="contact.teamContacts?.length === 0">
        <span jhiTranslate="yocomaApp.teamContact.home.notFound">No teamContacts found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="contact.teamContacts && contact.teamContacts.length > 0">
        <h3 data-cy="contactDetailsTeamsHeading"><span jhiTranslate="yocomaApp.contact.detail.teams.title">Teams</span></h3>
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.team">Team</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.roleType">Role Type</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.role">Role</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.description">Description</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teamContact of contact.teamContacts; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/team-contact', teamContact.id, 'view']">{{ teamContact.id }}</a>
            </td>
            <td>
              <div *ngIf="teamContact.team">
                <a [routerLink]="['/team', teamContact.team?.id, 'view']">{{ teamContact.team?.name }}</a>
              </div>
            </td>
            <td jhiTranslate="{{ 'yocomaApp.RoleType.' + teamContact.roleType }}">{{ teamContact.roleType }}</td>
            <td>{{ teamContact.role }}</td>
            <td>{{ teamContact.description }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact', contact.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
