<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="team">
      <h2 data-cy="teamDetailsHeading"><span jhiTranslate="yocomaApp.team.detail.title">Team</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ team.id }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.team.name">Name</span></dt>
        <dd>
          <span>{{ team.name }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.team.motto">Motto</span></dt>
        <dd>
          <span>{{ team.motto }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.team.description">Description</span></dt>
        <dd>
          <span>{{ team.description }}</span>
        </dd>
        <dt><span jhiTranslate="yocomaApp.team.logo">Logo</span></dt>
        <dd>
          <div *ngIf="team.logo">
            <a (click)="openFile(team.logo, team.logoContentType)">
              <img [src]="'data:' + team.logoContentType + ';base64,' + team.logo" style="max-width: 150px" alt="team image" />
            </a>
          </div>
        </dd>
      </dl>

      <div class="alert alert-warning" id="no-result" *ngIf="team.teamContacts?.length === 0">
        <span jhiTranslate="yocomaApp.teamContact.home.notFound">No teamContacts found</span>
      </div>

      <div class="table-responsive" id="entities" *ngIf="team.teamContacts && team.teamContacts.length > 0">
        <h3 data-cy="teamDetailsContactsHeading"><span jhiTranslate="yocomaApp.team.detail.contacts.title">Teams</span></h3>
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
          <tr>
            <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.contact">Contact</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.roleType">Role Type</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.role">Role</span></th>
            <th scope="col"><span jhiTranslate="yocomaApp.teamContact.description">Description</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teamContact of team.teamContacts; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/team-contact', teamContact.id, 'view']">{{ teamContact.id }}</a>
            </td>
            <td>
              <div *ngIf="teamContact.contact">
                <a [routerLink]="['/contact', teamContact.contact?.id, 'view']">{{ teamContact.contact?.lastname }}, {{ teamContact.contact?.firstname }}</a>
              </div>
            </td>
            <td jhiTranslate="{{ 'yocomaApp.RoleType.' + teamContact.roleType }}">{{ teamContact.roleType }}</td>
            <td>{{ teamContact.role }}</td>
            <td>{{ teamContact.description }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
